@page
@using NorthwindHCI.NW
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var categories = ViewData["Categories"] as List<Category>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Click on any of the following to go to the details page:</h2>
    @foreach (var item in categories!) {
        <p><a href="">@item.CategoryName</a></p>
    }
</div>
